<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12>
        <div id="editor">
          <overlay ref="overlay"/>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import overlay from "@/views/Overlay";

export default {
  name: "editor",
  components: {
    overlay
  },
};
</script>

<style>
#editor {
  width: 100%;
  height: 2000%;
  position: relative;
  background: green
}
</style>
