<template>
  <v-container grid-list-md text-xs-center class="home">
    <v-layout row wrap>
      <v-flex xs12>
        <img alt="Vue logo" src="../assets/overlord.gif" />
      </v-flex>
      <v-flex xs12>
        <p>
          Overlord is a webbase app for creating twitch stream overlays.  
        </p>
        <p>
          Overlord allows you to create a browser view overlay for use in OBS studio.  Once you account is created and services are signed into, point OBS studio to the /overlay URL to display it over your twitch stream.
        </p>
        <p>
          Overlord will update your information on the screen using reactive web technologies.  A component can be created to display information from any service that exposes and API.
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "home"
};
</script>
