<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
        <v-form @submit.prevent="signIn" class="card">
        <div class="display-1">Sign In</div>
          <v-text-field
            v-model="email"
            label="Email"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <div>
            <v-btn depressed @click="signInWithGoogle">Sign In with Google</v-btn>
          </div>
          <div>
            <v-btn depressed @click="signIn">Submit</v-btn>
          </div>
          <p class="subheading">Don't have an account? 
            <router-link to="/register">
              <a>Sign Up</a>
            </router-link></p>
        </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "login",
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  computed: {
    linkedGoogle: function() {
      return this.$store.getters("linkedGoogle");
    },
    linkedPassword: function() {
      return this.$store.getters("linkedPassword");
    }
  },
  methods: {
    signIn: function() {
      this.$store.dispatch("signIn", {
        email: this.email,
        password: this.password
      });
    },
    signInWithGoogle: function() {
      this.$store.dispatch("signInWithGoogle");
    }
  }
};
</script>

<style scoped>
.card {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 25px;
  background-size: 100%;
}
</style>