<template>
  <v-container grid-list-md text-xs-center fluid ma-0 pa-0>
    <v-layout class="top">
      <v-flex xs12>
        <socialmedia />
      </v-flex>
    </v-layout>
    <voter />
    <v-layout class="bottom">
      <v-flex>
        <timer ref="timer" />
      </v-flex>
      <v-flex>
        <!-- Center column -->
      </v-flex>
      <v-flex>
        <spotify ref="spotify" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import socialmedia from "@/components/Overlay/SocialMedia";
import voter from "@/components/Overlay/Voter";
import timer from "@/components/Overlay/Timer";
import spotify from "@/components/Overlay/Spotify";

export default {
  name: "overlay",
  components: {
    socialmedia,
    voter,
    timer,
    spotify
  }
};
</script>

<style>
#overlay {
  width: 100%;
  height: 100%;
  background-color: #00b140;
}

.top {
  width: 100%;
  color: white;
  background: rgb(82, 82, 82);
}

.bottom {
  width: 100%;
  color: white;
  background: rgb(82, 82, 82);
  position: absolute;
  bottom: 0;
}
</style>
