<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12> </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "settings",
  components: {}
};
</script>

<style></style>
