<template>
  <v-toolbar app dark>
    <v-icon>donut_small</v-icon>
    <v-toolbar-title>
      <router-link to="home">
      Overlord
      </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn flat v-if="authUser" v-on:click="this.run" :color=running>
      <v-icon>flash_on</v-icon>
      <span>Run</span>
    </v-btn>

    <v-toolbar-items v-if="authUser" class="hidden-sm-and-down">
      <v-btn flat v-for="link in this.links" :key="link.name" :to=link.route>
        <v-icon>{{link.icon}}</v-icon>
        <span>{{link.name}}</span>
      </v-btn>           
    </v-toolbar-items>
    <v-toolbar-items v-else class="hidden-sm-and-down">
      <v-btn flat to="login">
        <v-icon>person</v-icon>
        <span>Login</span>
      </v-btn>      
      <v-btn flat to="register">
        <v-icon>person_add</v-icon>
        <span>Register</span>
      </v-btn> 
    </v-toolbar-items>


    <v-toolbar-title v-if="authUser">
          <v-avatar
          :size="30"
        >
          <img :src=photoURL alt="avatar">
        </v-avatar>
          {{displayName}}
    </v-toolbar-title>

    <v-menu class="hidden-md-and-up" bottom left>
      <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>         
        <v-list v-if="authUser" >
          <v-list-tile
            v-for="link in this.links"
            :key="link.name"
            :to=link.route
          >
            <v-list-tile-title>
              <v-icon>{{link.icon}}</v-icon>
              <span>{{link.name}}</span>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>    
        <v-list v-else >
          <v-list-tile to="login">
            <v-list-tile-title>
              <v-icon>person</v-icon>
              <span>Login</span>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile to="register">
            <v-list-tile-title>
              <v-icon>add_person</v-icon>
              <span>Register</span>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
    </v-menu>

  </v-toolbar>
</template>

<script>
export default {
  name: "toolbar",
  data () {
    return {
      running: "error",
      links: [
        {
          name: "Editor",
          route: "editor",
          icon: "dashboard"
        },
        {
          name: "Settings",
          route: "settings",
          icon: "settings"
        },
      ]
    }
  },
  computed: {
    displayName: function() {
      return this.$store.getters.displayName;
    },
    photoURL: function() {
      return this.$store.getters.photoURL;
    },
    authUser: function() {
      return this.$store.getters.authUser;
    }
  },
  methods: {
    run: function () {
      if(this.running === "success") {
        this.$store.commit("pause");
        this.running = "error";
      }
      else {
        this.$store.commit("reset");
        this.running = "success";
      }      
    }
  }
};
</script>

<style>
a {
    text-decoration: none;
    color: white;
}
</style>
