<template>
  <v-layout row>
    <v-flex v-for="account in social" :key="account.index">
      <i :class="account.icon"> {{ account.path }}</i>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "social-media",
  data() {
    return {
      social: [
        {
          path: "nixstuff.tech",
          icon: "fa fa-code"
        },
        {
          path: "@NickNeisen",
          icon: "fab fa-twitter"
        },
        {
          path: "nwneisen",
          icon: "fab fa-gitlab"
        },
        {
          path: "nwneisen",
          icon: "fab fa-github"
        }
      ]
    };
  }
};
</script>
