<template>
  <i :class="'fa fa-music'">
    <span v-html="this.$store.getters.nowPlaying"></span>
  </i>
</template>

<script>
export default {
  name: "spotify",
  mounted() {
    this.$store.dispatch("initSpotify");
  },
};
</script>
