<template>
  <span v-html="this.time"></span>
</template>

<script>
export default {
  name: "timer",
  mounted() {
    this.$store.dispatch("initTimer");
  },
  computed: {
    time: function () {
      return this.$store.getters.time;
    }
  }
};
</script>
