<template>
  <div class="voter">
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>    
  </div>
</template>

<script>
export default {
  name: "voter",
  mounted() {
    this.$store.dispatch("initTwitch");
  },
};
</script>

<style>
.voter {
  width: 25%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 3%;
}

ul {
  list-style: none;
}
</style>
