<template>
  <v-app dark>
    <Toolbar v-if="['overlay'].indexOf($route.name) == -1" />
    <v-content v-if="['overlay'].indexOf($route.name) == -1">
      <router-view></router-view>
    </v-content>
    <router-view v-else></router-view>
  </v-app>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";

export default {
  name: "overlord",
  components: {
    Toolbar
  },
  created() {
    this.$store.dispatch("setUser");
  }
};
</script>
